<!DOCTYPE html>
<html>
<head>
  <title>Railsbelt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:messages] %>
  <%flash[:messages].each do |a|%>
  <p><%= a%></p>
  <% end %>
  <% end %>
  <% if session[:user_id]%>
    <a href="/sessions/destroy" data-method='delete'>Log Out</a>
  <%end%>

<%= yield %>

</body>
</html>
